html,body{
    background:transparent;
    font-size:90%;
}
.no-outline,.no-outline:focus,.no-outline:active,.no-outline:hover{
    outline:none;
    box-shadow:none;
}
.f-110{
    font-size: 110%;
}
.tile{
    height:72px;
    border: 1px rgba(0, 0, 0, 0.15) solid;
    background: white;
    width:222px;
    margin-right: 15px;
    margin-top:15px;
    transition: all 0.3s;
    position:relative;
}
.tile:hover{
    border: 1px rgba(0, 0, 0, 0.9) solid;
    transition: all 0.3s;
    cursor: pointer;
}
.tile-inner{
 border:1px transparent solid;
 width:100%;
 height:100%;
 transition: all 0.3s;
}
.tile:hover .tile-inner{
    border:1px white solid;
    transition: all 0.3s;
}
.ellip{
    position: absolute;
    right:0px;
}
.ellip:hover{
    background:rgba(0, 0, 0, 0.10) !important;
}
.tile-green .ellip:hover,.tile-red .ellip:hover,.tile-yellow .ellip:hover{
    background:rgba(255, 255, 255, 0.35) !important;
}
.tile-green{
    background:#79c75b;
    color:white;
}
.tile-red{
    background:#c0433a;
    color:white;
}
.tile-yellow{
    background: #cda521;
    color:white;
}
@media (max-width: 480px) {
    .tile{
        width:100%;
    }
}

.report-link{
    text-decoration:none;
    color:#000000;
}

.report-link:hover {
    text-decoration: none;
    color: #000000;
}