.localVideo {
    background: black;
    border: 1px solid gray;
}

.remoteVideo {
    background: black;
    border: 1px solid gray;
}


.call-page {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 435px;
}

.localVideo {
    width: 130px;
    height: 140px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.remoteVideo {
    width: 100%;
    height: 435px;
}

.modal-footer{
    text-align:center;
}