@***********************************************************************************************************************
    * Link  is a Social Network for enable distributed user to involve, collaborate and communicate .
    * Copyright(C) 2019 Indie Sudio. All rights reserved.
    * https://indiestd.com/
    * info@indiestd.com
    *********************************************************************************************************************@

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>User Login Information</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="col-sm-12">
                        <table id="data" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>user Name</th>
                                    <th>user Agent</th>
                                    <th>login Date</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts {

    <script type="text/javascript">

    $(document).ready(function () {
        $("#data").DataTable({
            dom: 'lBfrtip',
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "ajax": {
                "url": "@Url.Content("~")/Admin/UserLogIn/LoadData",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
                [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
            "columns": [
                { "data": "id", "name": "Id", "autoWidth": true },
                { "data": "userName", "name": "Name", "autoWidth": true },
                { "data": "userAgent", "name": "UserAgent", "autoWidth": true },
                { "data": "loginDateTime", "name": "LoginDateTime", "autoWidth": true }
            ]

        });
    });


    </script>
}