@***********************************************************************************************************************
    * Link  is a Social Network for enable distributed user to involve, collaborate and communicate .
    * Copyright(C) 2019 Indie Sudio. All rights reserved.
    * https://indiestd.com/
    * info@indiestd.com
    *********************************************************************************************************************@

<div class="right-content">
    <h4> My Friends</h4>
    <ul id="friends-list" class="scrollbar">
        <div id="friends-list-items">
        </div>
    </ul>

    <h4> My Groups</h4>
    <ul id="group-list" class="scrollbar">
        <div id="group-list-items">
        </div>
    </ul>
</div>
